mixin button(href, name, hidden)
    - var classes = ['btn__wrap']
    - if (hidden) classes.push('btn__wrap--hidden')
    div(class=classes)
        if href.length > 0
            a(href=href, class!=attributes.class, data-text=name)
                span.btn__overlay
                span.btn__text= name
                
        else
            button(id!=attributes.id, class!=attributes.class, data-text=name, type!=attributes.type)
                span.btn__overlay
                span.btn__text= name
            